GD_LIQUIDACION_2022/Connected Services/WebLogin/login.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://microsoft.com/webservices/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://microsoft.com/webservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/webservices/">
      <s:element name="recibe_datos_usuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user_name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="user_pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="recibe_datos_usuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="recibe_datos_usuarioResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="recibe_datos_usuarioSoapIn">
    <wsdl:part name="parameters" element="tns:recibe_datos_usuario" />
  </wsdl:message>
  <wsdl:message name="recibe_datos_usuarioSoapOut">
    <wsdl:part name="parameters" element="tns:recibe_datos_usuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="loginSoap">
    <wsdl:operation name="recibe_datos_usuario">
      <wsdl:input message="tns:recibe_datos_usuarioSoapIn" />
      <wsdl:output message="tns:recibe_datos_usuarioSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="loginSoap" type="tns:loginSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="recibe_datos_usuario">
      <soap:operation soapAction="http://microsoft.com/webservices/recibe_datos_usuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="loginSoap12" type="tns:loginSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="recibe_datos_usuario">
      <soap12:operation soapAction="http://microsoft.com/webservices/recibe_datos_usuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="login">
    <wsdl:port name="loginSoap" binding="tns:loginSoap">
      <soap:address location="http://192.168.110.6/webservice/login.asmx" />
    </wsdl:port>
    <wsdl:port name="loginSoap12" binding="tns:loginSoap12">
      <soap12:address location="http://192.168.110.6/webservice/login.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>